version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: imdb_pipeline_app
    env_file:
      - .env
    depends_on:
      - postgres
    command: ["python", "-u", "src/main.py"]
    environment:
      PYTHONPATH: "/app"





