version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      GITHUB_ACTIONS: "true"
    depends_on:
      - postgres





