version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: tmdb_postgres
    env_file:
      - ./.env
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "${PG_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  app:
    container_name: tmdb_app
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - ./.env
    depends_on:
      - postgres
    restart: always

volumes:
  pgdata:

