version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: tmdb_app_ci
    env_file:
      - .env
    environment:
      GITHUB_ACTIONS: "true"
    depends_on:
      - postgres
    command: >
      sh -c "export GITHUB_ACTIONS=true && python -u src/main.py"


