name: Daily TMDB Multi-File ETL

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"

jobs:
  etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create .env
        run: |
          echo "TMDB_API_KEY=${{ secrets.TMDB_API_KEY }}" >> .env
          echo "PG_USER=${{ secrets.PG_USER }}" >> .env
          echo "PG_PASSWORD=${{ secrets.PG_PASSWORD }}" >> .env
          echo "PG_DB=${{ secrets.PG_DB }}" >> .env

      - name: Build Docker images
        run: docker-compose -f docker-compose.ci.yml build --no-cache

      - name: Run ETL
        run: docker-compose -f docker-compose.ci.yml up --abort-on-container-exit





















