name: Daily TMDB Multi-File ETL

on:
  workflow_dispatch:
  schedule:
    - cron: "30 0 * * *"

jobs:
  run-etl:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set env
        run: |
          echo "TMDB_API_KEY=${{ secrets.TMDB_API_KEY }}" >> $GITHUB_ENV
          echo "PG_USER=${{ secrets.PG_USER }}" >> $GITHUB_ENV
          echo "PG_PASSWORD=${{ secrets.PG_PASSWORD }}" >> $GITHUB_ENV
          echo "PG_DB=${{ secrets.PG_DB }}" >> $GITHUB_ENV

      - name: Build ETL container
        run: docker compose -f docker-compose.ci.yml build --no-cache

      - name: Run ETL container
        run: docker compose -f docker-compose.ci.yml up --abort-on-container-exit

      - name: Export CSV files
        run: |
          echo "CSV Export Done"

      - name: Commit updated CSV files
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update CSV files"
          file_pattern: data/*.csv



















